
.navbar-nav {
    font-weight: 700;
    font-size: 16px;
}
.navbar-nav li:hover {
    color: #2153D1
}
.logo {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #2153D1;
}
.services {
    padding: 25px 0 20px;
}
.services h2 {
    margin-bottom: 0px;
}
.blue_block {
    text-align: center;
    /* margin-bottom: 15px; */
}
.blue_indestory {
    margin: 0;
}
.blue_indestory span {
    width: 49px;
}
.blue_line {
    height: 2px;
    width: 30px;
    margin: 10px;
    display: inline-block;
    background-color: #2153D1;
}
.projects h1, .services h2, .awards h3 {
    text-align: center;
    margin-left: 0;

}
.awards h3 {
    margin-bottom: 0px;
}
.services-grid1 p {
    color: #2153d1;
    text-align: center;
}
.server h4 {
    text-align: center;
    color: #4d5566;
    font-size: 14px;
    letter-spacing: 1px;
}
.callbacks_tabs {
    display: none;
}
.projects h1, .services h2, .awards h3 {
    font-size: 32px;
    letter-spacing: 2px;
}
.services-desc {
    color: #2153d1;
    font-size: 14px;
}
/* 行业动态图 */
.services-grid2 img {
    top: 0px;
    position: none !important;
}
.service-info-grids {
    margin-top: 0px;
}
.service-info img {
    width: 30px;
}
.service-info .h4-underline {
    margin-left: 0px;
    margin-top: 8px;
}
.indes-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.indes-info>div {
    display: flex;
    align-items: center;
}

.indes-info a {
    margin-right: 76px;
    /* border-right: 1px solid #2153D1; */
}
.indes-info span{
    font-size: 20px;
    font-weight: 700;
    margin-left:5px;
}
.services-grids {
    margin-bottom: 10px;
}
.h4-underline {
    margin-top: 8px;
}
.principles-grids1 h3 {
    font-size: 32px;
    text-align: center;
    color: #17181a;
}
.principles-grids1 {
    background-color: #fff;

}
.principles {
    /* background: url('../images/home/bg1.jpg') no-repeat center center; */

}
.service-info-grids>div:first-child {
    margin-bottom: 26px;
}
.bott-img {
    height: auto;
    display: flex;
    border: 0;
}
.bott-img .mission {
    font-size: 20px;
    font-weight: 500;
    color: black;
    font-family: mocris;
}
.bott-img:hover .mission {
    top: 0px;
    color: #2153D1;
}
.bott-img:hover .description {
    opacity: 0;
}
.abt-btm {
    margin-top: 20px;
}
.footer {
    background: #f2f4f7;
}
.footer ul li a, .footer div h4, .footer div p {
    color: #17181a;
}

.footer ul li a:hover {
    color: #2153D1;
}
.team {
    padding: 40px 0; 
}
.slogan-div {
    z-index: 2;
}
.slogan mask {
    top: 0;
}
/* //#242935; */
.slogan {
    background: url('../images/home/footer.jpg') no-repeat center center;
    color: #fff;
    height: 130px;
    display: flex;
    justify-content: center;
    background-size: 100% auto;
    background-position-y: 70%;
    align-items: center;
}
.awards-grids {
    margin-top: 40px;
}
.slogan h4 {
    font-weight: 600;
    text-align: right;
    margin-top: 20px;
}
.slider-4 p {
    color: #fff;

}
#toTop {
    right: 45px;
    bottom: 45px;
}
.slider-4 h4 {
    color: #fff;
}
.sales {
    color: #2153D1;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
}
.sales .count {
    font-size: 60px;
    font-weight: 700;
}
.awards-grid img {
    height: 32px;
    width: 32px !important;
    margin-bottom: 0px;
}
.awards-grid .h4-underline {
    margin-left: 0;
}
.awards {
    padding: 50px 0 60px;
    background-color:white ;
}
.projects a, .services a {
    border: none;
}
#serviceDetail {
    font-size: 20px;
}
.principles {
    background-color: #fff;
}
.logo {
    margin-top: 5px;
}
.logo img {
    height: 40px;
}
.newsletter h4 {
    font-size: 20px;
}
.ercode {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color:#17181a;
}
.ercode div {
    text-align: center;
}
.ercode img {
    margin-top: 10px;
    width: 130px;
}
.copy {
    text-align: center;
    padding: 15px 0 15px 15px;
    margin-top: 15px;
    border-top: 1px solid #cbd0da;
}
.dynamic {
    position:absolute;
    bottom: 13px;
    font-size: 14px;
    padding-left: 10px;
    color: #fff;
}
.footer {
    padding-bottom: 15px;
}
@media screen and (max-width: 603px){
    .team {
        padding: 20px 0;
       
    }
    .co-trade {
       height: 16px;
       width: 16px !important;
    }
    .services-grid2 {
        padding: 0 18px;
    }
    .navbar-default {
        background-color: rgba(255,255,255, 1) !important;
    }
    .inner-pages-navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 9;
        border-bottom: 1px solid #cbd0da
    }
    .team h3 {
        font-size: 18px;
    }
    .newsletter {
        padding: 10px 0 15px 15px;
        border-bottom: 1px solid #cbd0da;
    }
    .copy {
        margin-top: 0;
        border-top: none;
    }
    .footer {
        padding: 0 15px;
    }
    .footer .container {
        padding: 0;
    }
    .footer-g1 {
        display: none;
    }
    .newsletter p {
        font-size: 14px;
    }
    .newsletter h4 {
        font-size: 18px;
    }
    .awards {
        background: url("../images/home/background_earth.png");
        background-repeat: no-repeat;
        background-position: 50% 80%;
        background-size: auto 80%;
    }
    .ercode {
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #cbd0da;
    }
    .service-info img {
        width: 21px;
    }
    .caption {
        transform: translateY(-50%);
        width: 100%;
    }
    .caption h3{
        text-align: center;
    }
    .newsletter {
        margin-bottom: 0px;
    }
    .h4-underline {
        width: 104px;
    }
    .bottom-gds {
        padding: 0;
    }
    .principles-grids1 {
        padding: 0;
    }
    .service-info {
      width:100%
    }
    .logo {
        margin-top: 5px;
    }
    .logo img {
        height: 32px;
        width: auto;
    }
    .services {
        padding: 25px 0 0;
    }
    .services-grids {
        margin-bottom: 0px;
    }
    #serviceDetail {
        font-size: 12.6px;
    }
    #toTop {
        right: 20px;
        bottom: 20px;
    }
    .indes-info a {
        margin-right: 0;
    }
    .indes-info span {
        font-size: 17px;
    }
    .bott-img {
      height: 66px;
      margin-bottom: 30px;
    }
    .service-info-grids>div:first-child{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .slogan slider-4 {
        width: 100%;
    }
    .principles {
        width: 100%;
    }
    .projects h1, .services h2, .awards h3 {
        font-size: 25px;
    }
    .server h4 {
        font-size: 12px;
        padding: 0 15px;
        line-height: 15px;
    }
    .principles-grids1 h3{
        font-size: 23px;
    }
    .principles-grids1 {
        padding-top:0px;
    }
    .awards-grid h4 {
        font-size: 12px;
        text-align: center;
    }
    .sales .count {
        font-size: 34px;
        font-weight: 700;
    }
    .awards-grid img {
        height: 18px;
        width: 18px !important;
        margin-bottom: 0px;
    }
    .sales {
        font-size: 13px;
        height: 67px;
    }
    .awards-grids {
        margin-left: 0;
        padding: 40px 30px 0 15px;
        position: relative;
    }
    .awards-grids>div {
        position: relative;
    }
    .awards-grids>div:nth-child(1) {
        top:-50px;
        left: 8%;
    }
    .awards-grids>div:nth-child(2) {
        right: 0;
        top: 12px;
    }
    .awards-grids>div:nth-child(3) {
        left: 0%;
        bottom: 30px;
    }
    .awards-grids>div:nth-child(4) {
        right: 13%;
        bottom: -20px;
    }
    .awards-grids>div:nth-child(even) {
        padding-left: 30px;
    }
    .awards {
        padding: 20px 0 0;
        background-color:#f6f7fc ;
    }
    .slogan {
        padding: 20px;
        height: 90px;
    }
    
    #gsmc {
        font-size: 18px;
        font-weight: 700;
    }
    .awards-grid h4 {
        font-weight: 400;
        text-align: center;
    }
    .navbar-toggle {
        border: none;
    }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
      color:#2153D1
}
@media screen and (min-width: 992px) {
    .bottom-gds {
        margin-top: 20px;
    }
    .projects h1, .services h2, .awards h3 {
        font-size: 32px;
    }
}
