.gallery h2 {
    color: #2153D1;
}
.details h3 {
    color: #2153D1;
}
.details-grid button.btn {
    color: #2153D1;
    border: 1px solid #2153D1;
    float: right;
}
/* .banner h1 {
    top:50%;
    transform: translateY(-50%);
} */

@media screen and (max-width: 603px){
    .gallery h2 {
        font-size: 25px;
    }
    .gallery-grids {
        width: auto;
    }
}
.ban {
    height: 250px;
}
.detail {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow:ellipsis;white-space:wrap;overflow:hidden;
}
@media screen and (min-width: 992px){
    .details-grid-image img {
        width: 300px;
    }
    .detail {
        text-overflow:inherit;
        white-space:inherit;
    }
    .details-grid {
        margin-bottom: 10px;
    }
    .ban {
        height: 200px;
    }
    .details-grid1 {
        position: relative;
    }
    .details-grid-image span {
        display: none;
    }
    .details-grid-info {
        position: absolute;
        right: 30px;
        top: 50%;
        width: 720px;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

}