.gallery h2 {
    color: #2153D1;
}
.details h3 {
    color: #2153D1;
}
.details-grid button.btn {
    color: #2153D1;
    border: 1px solid #2153D1;
    float: right;
}
/* .banner h1 {
    top:50%;
    transform: translateY(-50%);
} */
@media screen and (max-width: 603px){
    .gallery h2 {
        font-size: 25px;
    }
}